.dark .tiptap > h1 {
  @apply text-dark-text;
}

.dark .tiptap > * {
  @apply text-slate-200;
}

.dark .tiptap > *strong {
  @apply text-white;
}

.dark body {
  @apply bg-dark-background;
}

.tiptap > div {
  width: 100%;
}

:root {
  --container-width: 100%;
}

@media only screen and (min-width: 959px) {
  .editor-Content.active > .tiptap {
    max-width: var(--container-width);
  }
  .editor-Content.active > .tiptap img {
    max-width: 40rem;
  }
}

.tiptap {
  width: 100%;
  height: 100%;
  outline: none;
  transition: width 0.3s ease;
  /* Give a remote user a caret */
  /* Render the username above the caret */
}

.tiptap img {
  max-width: 100%;
  border-radius: 8px;
}

.tiptap img.ProseMirror-selectednode {
  outline: 3px solid #68cef8;
}

.tiptap .collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
  width: 100%;
}

.tiptap .collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-family: "Charter";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}
